itertools
string
time

create a text file which contains all possibe words prohibited for use as password 
i.e qwerty, 123456789, abcd123, america, and common english words
put the text file in the same directory as the main.py file before run
#this helps the algorithm save alot of time 

try a simple password of a 4 letter combination on first run 
#just to see how fast it cracks PW with less number of characters
#the higher the lenght of password, the longer it takes to crack
